@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
  display: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  :root {
    --background: 220 20% 10%;
    --foreground: 210 40% 98%;
    --card: 215, 27.9%, 16.9%;
    --card-foreground: 210 40% 98%;
    --popover: 220 20% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 16% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 16% 22%;
    --muted-foreground: 220 15% 70%;
    --accent: 220 16% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 70% 40%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 20% 30%;
    --input: 220 18% 25%;
    --ring: 210 100% 50%;
    --chart-1: 210 100% 50%;
    --chart-2: 150 70% 40%;
    --chart-3: 40 100% 50%;
    --chart-4: 280 60% 55%;
    --chart-5: 0 80% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
